/* .verde{
    background-color: green;
    color: rgb(0, 0, 0);
}

.azul{
    background-color: blue;
    color: white;
    
}

.vermelho{
    background-color: red;
    color: white;
} */

#telefone{
    display: none;
}